.cleaner-profile-public_329-62 {
  position: relative;
  box-sizing: border-box;
  overflow: hidden;
  border-radius: 20px;
  background: linear-gradient(180deg, #e4f0ff 0%, #ffffff 100%);
  width: 1440px;
  height: 1024px;
}
.frame-279686_329-63 {
  top: 149px;
  left: 70px;
  position: absolute;
  display: flex;
  box-sizing: border-box;
  overflow: hidden;
  border-radius: 20px;
  border-color: #ced9e7;
  border-style: solid;
  border-width: 1px;
  background: #ffffff;
  width: 1300px;
  height: 835px;
}
.frame-279685_329-64 {
  top: 50px;
  left: 50px;
  position: absolute;
  display: flex;
  box-sizing: border-box;
  overflow: hidden;
  border-radius: 20px;
  border-color: #ced9e7;
  border-style: solid;
  border-width: 1px;
  background: #ffffff;
  width: 1200px;
  height: 385px;
}
.frame-9_329-65 {
  top: 30px;
  left: 30px;
  position: absolute;
  display: flex;
  box-sizing: border-box;
  width: 118px;
  height: 120px;
}
.ellipse-3_329-66 {
  top: 0px;
  left: 0px;
  position: absolute;
  display: flex;
  display: flex;
}

.text-add-profile-photo_329-67 {
  top: 42px;
  left: 19px;
  position: absolute;
  display: flex;
  color: #565965;
  font-size: 11.666666030883789px;
  font-family: Poppins;
  line-height: 16.66666603088379px;
  letter-spacing: 0%;
  text-decoration: none;
  font-weight: 500;
  text-align: center;
  width: 83px;
  height: 36px;
}

.text-ime-prezime_329-68 {
  top: 60px;
  left: 173px;
  position: absolute;
  display: flex;
  color: #000000;
  font-size: 32px;
  font-family: Poppins;
  line-height: 25px;
  letter-spacing: 0%;
  text-decoration: none;
  font-weight: 500;
  text-align: center;
  text-wrap: nowrap;
  width: 198px;
  height: 25px;
}

.text-sarajevo-123_329-69 {
  top: 95px;
  left: 173px;
  position: absolute;
  display: flex;
  color: #000000;
  font-size: 20px;
  font-family: Poppins;
  line-height: 25px;
  letter-spacing: 0%;
  text-decoration: none;
  font-weight: 400;
  text-align: center;
  text-wrap: nowrap;
  width: 123px;
  height: 25px;
}

.text-bio_329-70 {
  top: 175px;
  left: 30px;
  position: absolute;
  display: flex;
  color: #565965;
  font-size: 16px;
  font-family: Poppins;
  line-height: 25px;
  letter-spacing: 0%;
  text-decoration: none;
  font-weight: 400;
  text-align: center;
  text-wrap: nowrap;
  width: 24px;
  height: 25px;
}

.text--pedantna--pouzdana-i-brza----i--enje-mi-nije-posao--nego-zadovoljstvo--imam-vi-e-od-4-godine-iskustva-u-odr-avanju-stanova-i-poslovnih-prostora--imam-vi-e-od-4-godine-iskustva-u-odr-avanju-stanova-i-poslovnih-prostora--4-godine-iskustva-u-odr-avanju-stanova_329-71 {
  top: 205px;
  left: 30px;
  position: absolute;
  display: flex;
  color: #000000;
  font-size: 20px;
  font-family: Poppins;
  line-height: 25px;
  letter-spacing: 0%;
  text-decoration: none;
  font-weight: 400;
  text-align: left;
  width: 500px;
  height: 150px;
}

.frame-279712_329-72 {
  top: 175px;
  left: 580px;
  position: absolute;
  display: flex;
  box-sizing: border-box;
  width: 140px;
  height: 105px;
}
.text-cleaning-zones_329-73 {
  top: 0px;
  left: 0px;
  position: absolute;
  display: flex;
  color: #565965;
  font-size: 16px;
  font-family: Poppins;
  line-height: 25px;
  letter-spacing: 0%;
  text-decoration: none;
  font-weight: 400;
  text-align: center;
  text-wrap: nowrap;
  width: 124px;
  height: 25px;
}

.text-novo-sarajevo-centar-stari-grad_329-74 {
  top: 30px;
  left: 0px;
  position: absolute;
  display: flex;
  color: #000000;
  font-size: 16px;
  font-family: Poppins;
  line-height: 25px;
  letter-spacing: 0%;
  text-decoration: none;
  font-weight: 400;
  text-align: left;
  text-wrap: nowrap;
  width: 140px;
  height: 75px;
}

.frame-279709_329-75 {
  top: 175px;
  left: 770px;
  position: absolute;
  display: flex;
  box-sizing: border-box;
  width: 113px;
  height: 90px;
}
.text-price-per-hour_329-76 {
  top: 0px;
  left: 0px;
  position: absolute;
  display: flex;
  color: #565965;
  font-size: 16px;
  font-family: Poppins;
  line-height: 25px;
  letter-spacing: 0%;
  text-decoration: none;
  font-weight: 400;
  text-align: center;
  text-wrap: nowrap;
  width: 111px;
  height: 25px;
}

.text-15_329-77 {
  top: 35px;
  left: 32px;
  position: absolute;
  display: flex;
  color: #1d1f21;
  font-size: 24px;
  font-family: Poppins;
  line-height: 25px;
  letter-spacing: 4%;
  text-decoration: none;
  font-weight: 400;
  text-align: left;
  text-wrap: nowrap;
  width: 24px;
  height: 25px;
}

.text-bam_329-78 {
  top: 35px;
  left: 63px;
  position: absolute;
  display: flex;
  color: #0e6ff0;
  font-size: 16px;
  font-family: Poppins;
  line-height: 25px;
  letter-spacing: 10%;
  text-decoration: none;
  font-weight: 300;
  text-align: left;
  text-wrap: nowrap;
  width: 37px;
  height: 25px;
}

.text-minimum--2h_329-79 {
  top: 65px;
  left: 0px;
  position: absolute;
  display: flex;
  color: #000000;
  font-size: 14px;
  font-family: Poppins;
  line-height: 25px;
  letter-spacing: 0%;
  text-decoration: none;
  font-weight: 400;
  text-align: center;
  text-wrap: nowrap;
  width: 113px;
  height: 25px;
}

.coins_329-80 {
  top: 35px;
  left: 0px;
  position: absolute;
  display: flex;
  display: flex;
}

.frame-279711_329-81 {
  top: 175px;
  left: 933px;
  position: absolute;
  display: flex;
  box-sizing: border-box;
  width: 166px;
  height: 90px;
}
.text-rating_329-82 {
  top: 0px;
  left: 0px;
  position: absolute;
  display: flex;
  color: #565965;
  font-size: 16px;
  font-family: Poppins;
  line-height: 25px;
  letter-spacing: 0%;
  text-decoration: none;
  font-weight: 400;
  text-align: center;
  text-wrap: nowrap;
  width: 52px;
  height: 25px;
}

.group-181_329-83 {
  top: 35px;
  left: 0px;
  position: absolute;
  display: flex;
  display: flex;
}
.vector_329-84 {
  display: flex;
}

.text-4-3-5-0_329-85 {
  top: 38px;
  left: 32px;
  position: absolute;
  display: flex;
  color: #1d1f21;
  font-size: 16px;
  font-family: Poppins;
  line-height: 25px;
  letter-spacing: 0%;
  text-decoration: none;
  font-weight: 400;
  text-align: left;
  text-wrap: nowrap;
  width: 54px;
  height: 25px;
}

.text--20-reviews-_329-86 {
  top: 38px;
  left: 93px;
  position: absolute;
  display: flex;
  color: #0e6ff0;
  font-size: 12px;
  font-family: Poppins;
  line-height: 25px;
  letter-spacing: 0%;
  font-weight: 300;
  text-align: left;
  text-wrap: nowrap;
  width: 73px;
  height: 25px;
}

.text-outstanding_329-87 {
  top: 65px;
  left: 1px;
  position: absolute;
  display: flex;
  color: #000000;
  font-size: 14px;
  font-family: Poppins;
  line-height: 25px;
  letter-spacing: 0%;
  text-decoration: none;
  font-weight: 400;
  text-align: center;
  text-wrap: nowrap;
  width: 107px;
  height: 25px;
}

.frame-279709_329-88 {
  top: 30px;
  left: 1003px;
  position: absolute;
  display: flex;
  box-sizing: border-box;
  overflow: hidden;
  border-radius: 33px;
  background: #ffd749;
  width: 167px;
  height: 50px;
  box-shadow: 3.3333330154418945px 3.3333330154418945px 16.66666603088379px 0px
    #bc9d447f inset;
}
.text-rezervi-i_329-89 {
  top: 8px;
  left: 33px;
  position: absolute;
  display: flex;
  color: #1d1f21;
  font-size: 23.333332061767578px;
  font-family: Poppins;
  letter-spacing: 0%;
  text-decoration: none;
  font-weight: 400;
  text-align: center;
  text-wrap: nowrap;
  width: 100px;
  height: 35px;
}

.frame-279689_329-90 {
  top: 450px;
  left: 50px;
  position: absolute;
  display: flex;
  box-sizing: border-box;
  overflow: hidden;
  border-radius: 20px;
  border-color: #ced9e7;
  border-style: solid;
  border-width: 1px;
  background: #ffffff;
  width: 1200px;
  height: 337px;
}
.text-service-overview_329-91 {
  top: 30px;
  left: 30px;
  position: absolute;
  display: flex;
  color: #000000;
  font-size: 24px;
  font-family: Poppins;
  line-height: 25px;
  letter-spacing: 0%;
  text-decoration: none;
  font-weight: 500;
  text-align: center;
  text-wrap: nowrap;
  width: 206px;
  height: 25px;
}

.frame-279713_329-92 {
  top: 80px;
  left: 30px;
  position: absolute;
  display: flex;
  box-sizing: border-box;
  width: 255px;
  height: 32px;
}
.group-38_329-93 {
  top: 0px;
  left: 0px;
  position: absolute;
  display: flex;
  display: flex;
}
.vector_329-94 {
  display: flex;
}

.vector_329-95 {
  display: flex;
}

.vector_329-96 {
  display: flex;
}

.vector_329-97 {
  display: flex;
}

.vector_329-98 {
  display: flex;
}

.vector_329-99 {
  display: flex;
}

.text-deep-house-cleaning_329-100 {
  top: 7px;
  left: 39px;
  position: absolute;
  display: flex;
  color: #1d1f21;
  font-size: 20px;
  font-family: Poppins;
  line-height: 17.500001907348633px;
  letter-spacing: 0%;
  text-decoration: none;
  font-weight: 400;
  text-align: left;
  text-wrap: nowrap;
  width: 216px;
  height: 18px;
}

.frame-279714_329-101 {
  top: 80px;
  left: 320px;
  position: absolute;
  display: flex;
  box-sizing: border-box;
  width: 183px;
  height: 32px;
}
.group-37_329-102 {
  top: 0px;
  left: 0px;
  position: absolute;
  display: flex;
  display: flex;
}
.vector_329-103 {
  display: flex;
}

.vector_329-104 {
  display: flex;
}

.vector_329-105 {
  display: flex;
}

.vector_329-106 {
  display: flex;
}

.vector_329-107 {
  display: flex;
}

.vector_329-108 {
  display: flex;
}

.vector_329-109 {
  display: flex;
}

.vector_329-110 {
  display: flex;
}

.vector_329-111 {
  display: flex;
}

.vector_329-112 {
  display: flex;
}

.vector_329-113 {
  display: flex;
}

.vector_329-114 {
  display: flex;
}

.vector_329-115 {
  display: flex;
}

.vector_329-116 {
  display: flex;
}

.vector_329-117 {
  display: flex;
}

.vector_329-118 {
  display: flex;
}

.vector_329-119 {
  display: flex;
}

.vector_329-120 {
  display: flex;
}

.text-floor-cleaning_329-121 {
  top: 7px;
  left: 39px;
  position: absolute;
  display: flex;
  color: #1d1f21;
  font-size: 20px;
  font-family: Poppins;
  line-height: 17.500001907348633px;
  letter-spacing: 0%;
  text-decoration: none;
  font-weight: 400;
  text-align: left;
  text-wrap: nowrap;
  width: 144px;
  height: 18px;
}

.frame-279715_329-122 {
  top: 80px;
  left: 610px;
  position: absolute;
  display: flex;
  box-sizing: border-box;
  width: 194px;
  height: 32px;
}
.group-35_329-123 {
  top: 0px;
  left: 0px;
  position: absolute;
  display: flex;
  display: flex;
}
.vector_329-124 {
  display: flex;
}

.vector_329-125 {
  display: flex;
}

.vector_329-126 {
  display: flex;
}

.vector_329-127 {
  display: flex;
}

.vector_329-128 {
  display: flex;
}

.vector_329-129 {
  display: flex;
}

.vector_329-130 {
  display: flex;
}

.vector_329-131 {
  display: flex;
}

.text-office-cleaning_329-132 {
  top: 7px;
  left: 39px;
  position: absolute;
  display: flex;
  color: #1d1f21;
  font-size: 20px;
  font-family: Poppins;
  line-height: 17.500001907348633px;
  letter-spacing: 0%;
  text-decoration: none;
  font-weight: 400;
  text-align: left;
  text-wrap: nowrap;
  width: 155px;
  height: 18px;
}

.frame-279716_329-133 {
  top: 80px;
  left: 900px;
  position: absolute;
  display: flex;
  box-sizing: border-box;
  width: 215px;
  height: 32px;
}
.group-36_329-134 {
  top: 0px;
  left: 0px;
  position: absolute;
  display: flex;
  display: flex;
}
.vector_329-135 {
  display: flex;
}

.vector_329-136 {
  display: flex;
}

.vector_329-137 {
  display: flex;
}

.vector_329-138 {
  display: flex;
}

.vector_329-139 {
  display: flex;
}

.vector_329-140 {
  display: flex;
}

.vector_329-141 {
  display: flex;
}

.vector_329-142 {
  display: flex;
}

.vector_329-143 {
  display: flex;
}

.vector_329-144 {
  display: flex;
}

.vector_329-145 {
  display: flex;
}

.vector_329-146 {
  display: flex;
}

.text-window-cleaning_329-147 {
  top: 7px;
  left: 39px;
  position: absolute;
  display: flex;
  color: #1d1f21;
  font-size: 20px;
  font-family: Poppins;
  line-height: 17.500001907348633px;
  letter-spacing: 0%;
  text-decoration: none;
  font-weight: 400;
  text-align: left;
  text-wrap: nowrap;
  width: 176px;
  height: 18px;
}

.text-temeljito--i--enje-svih-povr-ina--uklju-uje-brisanje-i-dezinfekciju-svih-povr-ina--uklju-uju-i-podove--zidove--prozore--i-druge-vidljive-povr-ine---i--enje-i-dezinfekcija-kupatila--uklju-uje--i--enje-i-uklju-uje--i--enje-i-uklju-uje--i--enje_329-148 {
  top: 122px;
  left: 30px;
  position: absolute;
  display: flex;
  color: #001a1e;
  font-size: 14px;
  font-family: Poppins;
  line-height: 22px;
  letter-spacing: 1px;
  text-decoration: none;
  font-weight: 400;
  text-align: left;
  width: 260px;
  height: 185px;
}

.text-temeljito--i--enje-svih-povr-ina--uklju-uje-brisanje-i-dezinfekciju-svih-povr-ina--uklju-uju-i-podove--zidove--prozore--i-druge-vidljive-povr-ine---i--enje-i-dezinfekcija-kupatila--uklju-uje--i--enje-i-uklju-uje--i--enje-i-uklju-uje--i--enje_329-149 {
  top: 122px;
  left: 320px;
  position: absolute;
  display: flex;
  color: #001a1e;
  font-size: 14px;
  font-family: Poppins;
  line-height: 22px;
  letter-spacing: 1px;
  text-decoration: none;
  font-weight: 400;
  text-align: left;
  width: 260px;
  height: 185px;
}

.text-temeljito--i--enje-svih-povr-ina--uklju-uje-brisanje-i-dezinfekciju-svih-povr-ina--uklju-uju-i-podove--zidove--prozore--i-druge-vidljive-povr-ine---i--enje-i-dezinfekcija-kupatila--uklju-uje--i--enje-i-uklju-uje--i--enje-i-uklju-uje--i--enje_329-150 {
  top: 122px;
  left: 610px;
  position: absolute;
  display: flex;
  color: #001a1e;
  font-size: 14px;
  font-family: Poppins;
  line-height: 22px;
  letter-spacing: 1px;
  text-decoration: none;
  font-weight: 400;
  text-align: left;
  width: 260px;
  height: 185px;
}

.text-temeljito--i--enje-svih-povr-ina--uklju-uje-brisanje-i-dezinfekciju-svih-povr-ina--uklju-uju-i-podove--zidove--prozore--i-druge-vidljive-povr-ine---i--enje-i-dezinfekcija-kupatila--uklju-uje--i--enje-i-uklju-uje--i--enje-i-uklju-uje--i--enje_329-151 {
  top: 122px;
  left: 901px;
  position: absolute;
  display: flex;
  color: #001a1e;
  font-size: 14px;
  font-family: Poppins;
  line-height: 22px;
  letter-spacing: 1px;
  text-decoration: none;
  font-weight: 400;
  text-align: left;
  width: 260px;
  height: 185px;
}

.frame-279684_329-152 {
  top: 0px;
  left: 0px;
  position: absolute;
  display: flex;
  box-sizing: border-box;
  overflow: hidden;
  background: #ffffff;
  width: 1440px;
  height: 60px;
}
.text-cleanme_329-153 {
  top: 16px;
  left: 70px;
  position: absolute;
  display: flex;
  font-family: Poppins;
  line-height: 28.761062622070312px;
  letter-spacing: 0%;
  text-decoration: none;
  font-weight: 700;
  text-align: center;
  text-wrap: nowrap;
  width: 146px;
  height: 29px;
}

.text-notification_329-154 {
  top: 16px;
  left: 1057px;
  position: absolute;
  display: flex;
  color: #000000;
  font-size: 16px;
  font-family: Poppins;
  line-height: 28.761062622070312px;
  letter-spacing: 0%;
  text-decoration: none;
  font-weight: 400;
  text-align: center;
  text-wrap: nowrap;
  width: 92px;
  height: 29px;
}

.text-dashboardd_329-155 {
  top: 16px;
  left: 1189px;
  position: absolute;
  display: flex;
  color: #000000;
  font-size: 16px;
  font-family: Poppins;
  line-height: 28.761062622070312px;
  letter-spacing: 0%;
  text-decoration: none;
  font-weight: 400;
  text-align: center;
  text-wrap: nowrap;
  width: 101px;
  height: 29px;
}

.frame-9_329-156 {
  top: 10px;
  left: 1330px;
  position: absolute;
  display: flex;
  box-sizing: border-box;
  display: flex;
}
.ellipse-3_329-157 {
  top: 0px;
  left: 0px;
  position: absolute;
  display: flex;
  display: flex;
}

.text-cleaner-profile_329-158 {
  top: 100px;
  left: 70px;
  position: absolute;
  display: flex;
  color: #083f87;
  font-size: 40px;
  font-family: Poppins;
  line-height: 28.761062622070312px;
  letter-spacing: 0%;
  text-decoration: none;
  font-weight: 500;
  text-align: center;
  text-wrap: nowrap;
  width: 294px;
  height: 29px;
}
