<div class="min-h-screen bg-gradient-to-br from-blue-100 via-blue-200 to-blue-300">
  <app-platform-header [showBrowseCleaners]="true" />

  <!-- Main Layout -->
  <main class="max-w-7xl mx-auto px-4 py-8 min-h-[calc(100vh-80px)]">
    <!-- Title -->
    <h2 class="text-3xl tracking-wider font-semibold text-[#083F87] mb-1 border-blue-700/10">Dashboard</h2>

    <!-- Card-Like Wrapper -->
    <section
      class="flex bg-white backdrop-blur-xl rounded-2xl shadow-2xl border border-white/20 min-h-[600px] overflow-hidden">

      <!-- Sidebar -->
      <aside class="w-48 flex-shrink-0 bg-white border-r border-gray-200 my-10">
        <div class="px-6 flex flex-col h-full">
          <nav class="flex-1">
            <ul class="space-y-2">
              <li *ngFor="let item of sidebarItems">
                <a [routerLink]="item.route"
                  class="block px-4 py-2 rounded-lg transition-all duration-200 font-medium relative overflow-hidden group"
                  [ngClass]="{
                    'bg-blue-100 text-[#0E6FF0] font-semibold': item.active,
                    'text-gray-700 hover:text-blue-700 hover:bg-blue-100': !item.active
                  }">
                  <span class="relative z-10">{{ item.label }}</span>
                </a>
              </li>
            </ul>
          </nav>

          <!-- Bottom Buttons -->
          <div class="mt-6 pt-4 border-t border-gray-200 space-y-2 text-sm">
            <button class="w-full text-left text-blue-600 hover:underline mb-4" (click)="onLogOut()">Log Out</button>
<!--            <button class="w-full text-left text-red-600 hover:underline" (click)="onDeleteAccount()">Delete-->
<!--              Account</button>-->
          </div>
        </div>
      </aside>

      <!-- Dynamic Page Content -->
      <div class="flex-1 p-8">
        <router-outlet></router-outlet>
      </div>

    </section>
  </main>
</div>
