<section class="bg-cover bg-center py-24 h-screen" style="background-image: url('hero-bg.jpg');" id="home">
  <app-container class="text-center py-24">
    <h1 class="text-6xl font-bold text-blue-900 mb-4">
      Your Location, Cleaner Than Ever
    </h1>
    <p class="text-xl text-blue-800 mb-8 px-0">
      Trusted cleaners at your fingertips. Book easily, relax fully.
    </p>

    <div class="flex flex-col sm:flex-row justify-center gap-4">
      <a routerLink="/register">

        <app-button class="from-yellow-400 to-yellow-400 text-black w-auto">
          Request a Cleaner
        </app-button>
      </a>
      <a routerLink="/register">
        <app-button class="from-blue-900 to-blue-700 text-white w-auto">
          Become a Cleaner
        </app-button>
      </a>
    </div>
  </app-container>
</section>