/* html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
} */

@import "tailwindcss";

@theme {
  --color-deepblue-500: #083f87;
  --color-deepblue-400: #0d65d9;
  --color-deepblue-300: #3d84e1;
  --color-blacknavy: #020f21;
}
