<form (ngSubmit)="onSubmit()" #registerForm="ngForm" class="h-full flex justify-center items-center">
  <div class="w-1/2 mx-auto flex flex-col gap-8">
    <div class="mb-8">
      <app-toggle-button [options]="['User', 'Cleaner']" (toggleUserType)="setSelectedProfileType($event)" />
    </div>


    <div class="flex gap-8">
      <app-input placeholder="Name" name="formName" [required]="true" [(ngModel)]="formName" />

      <app-input placeholder="Surname" name="formSurname" [required]="true" [(ngModel)]="formSurname" />
    </div>

    <app-input placeholder="Email" name="formEmail" [required]="true" [(ngModel)]="formEmail" />

    <app-input placeholder="Password" name="formPassword" [required]="true" [(ngModel)]="formPassword" />

    <app-input placeholder="Confirm Password" name="formConfirmPassword" [required]="true"

      [(ngModel)]="formConfirmPassword" class="mb-0.5" />

    <p class="text-red-500 text-center mt-1 mb-4">
      {{ errorMessage }}
    </p>

    <div class="w-full text-center">
      <app-button type="submit">
        Register
      </app-button>
    </div>

  </div>
</form>