<section class="py-24">

  <app-container class="py-16">
    <div class="flex flex-col lg:flex-row bg-blue-900 rounded-3xl overflow-hidden shadow-lg gap-24">
      <div class="flex flex-col justify-center p-8 text-white flex-1">
        <h2 class=" text-4xl font-semibold mb-4">
          Feel the <span class="font-bold text-white">Difference</span>
        </h2>
        <p class="mb-4 font-bold text-lg">
          Experience a Cleaner, Happier Home.
        </p>
        <p class="mb-6 text-white text-base">
          At CleanMe, we believe every home deserves special care. Our trusted cleaners make your life easier by
          bringing cleanliness and peace into every corner of your space.
        </p>

        <div class="flex flex-row gap-4 max-sm:flex-col">
          <a routerLink="/register">
            <app-button class="from-yellow-400 to-yellow-400 text-black  w-auto">
              Request a Cleaner
            </app-button>
          </a>
          <a routerLink="/register">
            <app-button class="from-yellow-400 to-yellow-400 text-black w-auto">
              Become a Cleaner
            </app-button>
          </a>
        </div>
      </div>

      <div class="">
        <img src="cleaning-hallway.jpg" alt="Cleaning Service"
          class="object-cover rounded-3xl lg:rounded-l-none w-full" />
      </div>
    </div>

  </app-container>
</section>