<div class="border-2 border-blue-500 rounded-2xl p-4 flex flex-col gap-3">
  <div class="flex items-center gap-2">
    <img [src]="src" alt="Icon" class="w-6 h-6" />
    <h3 class="text-blue-600 font-semibold text-lg">{{ title }}</h3>
  </div>

  <textarea [ngModel]="description" (ngModelChange)="onDescriptionChange($event)" placeholder="Write Description..."
    class="border-0 border-b-2 border-gray-300 focus:border-blue-500 focus:outline-none resize-none p-1" rows="3"
    [ngClass]="{'border-red-500 focus:border-red-500': error, 'border-gray-300 focus:border-blue-500': !error}"
    rows="3">
    ></textarea>

</div>