/* html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
} */

@import "tailwindcss";

@theme {
  --color-deepblue-500: #083f87;
  --color-deepblue-300: #0d65d9;
  --color-deepblue-200: #e4f0ff;
  --color-blacknavy: #020f21;
}

@custom-variant xsm @media (width <= 575.98px);

html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}
