<app-gray-card>
  <div class="flex gap-4">
    <!-- Avatar -->
    <div class="w-20 h-20 ...">
      <img *ngIf="booking.profileImage" [src]="booking.profileImage" alt="Profile" class="..." />
      <ng-container *ngIf="!booking.profileImage">Add</ng-container>
    </div>

    <!-- Booking Info -->
    <div class="flex flex-col gap-1 flex-grow">
      <h3 class="font-semibold text-lg">{{ booking.cleanerName }} will work for you</h3>
      <p class="text-sm text-blue-500 flex gap-1 items-center">
        <mat-icon fontIcon="schedule" class="text-xs"></mat-icon>
        {{ booking.date }} from {{ booking.time }}
      </p>
      <p class="text-sm text-gray-700">{{ booking.message }}</p>

      <div class="mt-4 text-right">
        <button class="bg-yellow-400 hover:bg-yellow-500 text-white font-semibold px-4 py-1 rounded-full text-sm"
          (click)="openReviewModal()">
          Leave a Review
        </button>
      </div>
    </div>
  </div>

  <!-- Modal -->
  <app-modal [isOpen]="isReviewModalOpen" (close)="closeReviewModal()">
    <app-leave-review-card *ngIf="selectedCleaner" [cleaner]="selectedCleaner" [initialRating]="0" [initialMessage]="''"
      (submitReview)="handleReviewSubmit($event)" />
  </app-modal>


</app-gray-card>