<div class="flex flex-col gap-4">



  <!-- Personal Info -->
  <!-- <div class="bg-white rounded-xl border border-gray-200 p-6 space-y-4">
    <app-profile-personal-card [profile]="profile" [isEditing]="isEditingPersonal"
      (onToggleEdit)="toggleEdit('personal')" (onSave)="saveProfile('personal')" />
  </div> -->
  <app-gray-card *ngIf="profile">
    <app-profile-overview-card [profile]="profile" />
  </app-gray-card>

  <app-gray-card *ngIf="profile">
    <app-profile-personal-card [profile]="profile" [isEditing]="editingSection === 'personal'"
      (onToggleEdit)="toggleEdit('personal')" (onSave)="saveProfile('personal')" />
  </app-gray-card>

  <app-gray-card *ngIf="profile">
    <app-profile-address-card [profile]="profile" [isEditing]="editingSection === 'address'"
      (onToggleEdit)="toggleEdit('address')" (onSave)="saveProfile('address')" />
  </app-gray-card>

  <!-- Service Overview Section (only for cleaners) -->
  <app-gray-card *ngIf="profile && isCleanerProfile()">
    <app-profile-services-card [profile]="profile" />
  </app-gray-card>

  <!-- Client Reviews Section (only for cleaners) -->
  <app-gray-card *ngIf="profile && isCleanerProfile()">
    <app-profile-reviews-card [profile]="profile" />
  </app-gray-card>

</div>